
body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
    margin: 0;
    padding: 20px;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #04AA6D;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

input {
    width: 100%;
    padding: 8px;
    /*padding-left: 0;*/
    margin: 0 -10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.container {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 15px 0;
}
.container label {
    margin-right: 15px;
}
.container input[type="radio"] {
    margin-right: 2px;
    margin-left: 8px;
    cursor: pointer;
}
/*button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
} */

.index{
    /*margin-top: 20px;*/
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.index:hover {
    background-color: #8cd8f2;
}
/*expense page*/
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #04AA6D;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #04AA6D;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #04AA6D;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover{
    background-color: #acecaf;
}

input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #8cd8f2;
}
.action-buttons button {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
.edit-button {
    background-color: #4CAF50;
    color: black;
}
.delete-button {
    background-color: #4CAF50;
    color: black;
}

#edit-form {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    z-index: 1000; 
}

.edit-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

.edit-box h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-submit, .btn-cancel {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 10px;
}

.btn-submit:hover , .btn-cancel:hover {
    background-color: #8cd8f2;
}

/*login page*/
body {font-family: Arial, Helvetica, sans-serif;}

h1 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #04AA6D;
  font-size: 60px;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: #04AA6D;
  font-size: 60px;
}

#login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
}
.login-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: white;
  /*text-align: center;*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

label {
  color: black;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  font-size: 20px;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #8cd8f2
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #04AA6D;
}

/* Center the image and position the close button 
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}*/

.container {
  padding: 16px;
}

.psw2 {
  float: right;
  color: #04AA6D;
} 

.new-reg{
  color: #04AA6D;
}

#registration {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 10px;
}
/* The Modal (background) */


/* Modal Content/Box */
.modal-content {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: white;
  /*text-align: center;*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .psw2 .new-reg{
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.alert-modal {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Dim background */
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
}
.alert-box {
  background: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  display: inline-block;
  z-index: 9999;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.alert-box p {
  color: black;
}

#alert-ok {
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}
/*edit profile page*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

/*.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}*/

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
    text-align: center;
    color: #04AA6D;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25rem;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;
    /*padding-left: 0;*/
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-btn{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn:hover {
    background-color: #8cd8f2;
}
/*header*/
body {
    background-color: white;
    color: black;
}
.dark-theme {
    background-color: #2c2828;
    color:white;
}
.dark-theme #expenses,
.dark-theme table,
.dark-theme td,
.dark-theme th {
    color: black !important; /* Keep text black */
}

#theme-toggle {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

:root {
    --bg-color: #ffffff;
    --text-color: #000000;
    --header-bg: #04AA6D;
    --btn-bg: #04AA6D;
    --btn-text: #ffffff;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header-bg);
    color: var(--text-color);
    padding: 15px 20px;
    font-size: 12px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: black;
}
.nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-link {
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    margin:  8px 5px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.theme-btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.theme-btn img {
    width: 30px;
    height: 30px;
}
.profile-container {
    position: relative;
    display: inline-block;
    align-items: center;
    cursor: pointer;
}

#profile-img {
    width: 30px;  
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
}
.profile-menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--bg-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    width: 150px;
    top: 50px;
}

.profile-menu button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--bg-color);
    color:var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.show {
    display: block;
}

/* Customizing Alert & Confirm Box */
.alert-modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    text-align: center;
}

.alert-box, .confirm-box {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    display: inline-block;
    z-index: 9999;
    text-align: center;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.alert-box p, .confirm-box p {
    color: black;
}

/*button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}*/

/* Confirm Buttons layout */
#confirm-action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
#alert-ok {
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}